<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zsx.com.test">

    <uses-permission android:name="android.permission.write_external_storage" />
    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zsx.debug.Lib_BugReportActivity" />
        <activity android:name=".ui.debug.ExceptionActivity" />
    </application>

</manifest>
